<article class="media">
	<div class="flash-message">
		<%= render 'layouts/flash' %>
</article>

<h2 class="title title-comment is-4">
	<i class="icon ion-ios-chatbubbles"></i>
	サービスへのコメント
</h2>

<% comments.order(created_at: :desc).each do |comment| %>
<div id="comment_<%= comment.id %>">
	<% if comment.id.present? %>
<article class="media">
	<figure class="media-left">
		<p class="image is-64x64">
			<%= "ユーザーイメージ画像" %>
		</p>
	</figure>
	<div class="media-content">
		<div class="content">
			<p>
				<strong>ユーザーネーム</strong>
			</p>
			<div id="errors_area_<%= comment.id %>">
				<%= render partial: 'comments/edit_error' %>
			</div>
			<span>投稿日時：<%= time_ago_in_words(comment.created_at) %>前</span>
			<span class="badge"><%= link_to "", edit_service_comment_path(service, comment), remote: true, class: "fas fa-edit" %></span>
			<span class="badge"><%= link_to "", service_comment_path(comment.service_id, comment.id), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"}, class: "fas fa-trash-alt" %></span>
			<div class="comment-content" id="this_comment_<%= comment.id %>">
				<%= simple_format(comment.content) %>
			</div>
		</div>
	<% end %>
</article>
</div>
<% end %>

