<article class="media">
	<div class="flash-message">
		<%= render 'layouts/flash' %>
</article>

<h2 class="title title-comment is-4">
	<i class="icon ion-ios-chatbubbles"></i>
	サービスへのコメント
</h2>

<% @comments.order(created_at: :desc).each do |comment| %>
	<div id="comment_<%= comment.id %>">
		<% if comment.id.present? %>
		<article class="media">
			<figure class="media-left">
				<p class="image is-64x64">
					<%= attachment_image_tag comment.service.user, :image %>
				</p>
			</figure>
			<div class="media-content">
				<div class="content">
					<p><strong><%= comment.service.user.name %>さんからのコメントです。</strong></p>
					<span><i class="far fa-clock"></i>：<%= time_ago_in_words(comment.created_at) %>前</span>
					<% if current_user == @comment.user %>
						<div id="errors_area_<%= comment.id %>">
						<%= render partial: 'comments/edit_error' %>
						</div>
						<span class="badge"><%= link_to "", edit_service_comment_path(service, comment), remote: true, class: "fas fa-edit" %></span>
						<span class="badge"><%= link_to "", service_comment_path(comment.service_id, comment.id), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"}, class: "fas fa-trash-alt" %></span>
					<% end %>
					<div class="comment-content" id="this_comment_<%= comment.id %>">
						<%= simple_format(comment.content) %>
					</div>
				</div>
			</div>
		</article>
		<% end %>
	</div>
<% end %>

