<aside class="toppage-footer-top">
	<div class="toppage-footer-top__box">
		<!-- <div class="toppage-footer-top__downloadlink"> -->
			<div class="toppage-footer-top__label">
				スキルを生かしてハッピーに
				<div class="toppage-footer-top__text">
					いますぐユーザー登録を
					<div class="toppage-footer-top__linkicon">
						<%= image_tag 'mercari-icon.png', class: 'toppage-footer-top__mercariicon', size: '68x68' %>
						<%= link_to '', id: 'toppage-appleicon' do %>
							<%= image_tag 'app-store.svg', class: 'toppage-footer-top__appstoreicon' %>
						<% end %>
							<%= link_to '', id: 'toppage-googleicon' do %>
						<% end %>
					</div>
						<!-- <div class="toppage-footer-top__photo">
							<%= image_tag 'download-app-pc-smartphon.png', class: 'toppage-footer-top__smartphonimage', size: '200x160' %>
						</div> -->
				</div>
			</div>
		<!-- </div> -->
	</div>
</aside>
<footer class="toppage-footer-bottom">
	<nav class="toppage-footer-bottom__navmain">
		<div class="toppage-footer-bottom__summary">
			<h2 class="toppage-footer-bottom__navtitle">
				win-win!!!!について
			</h2>
			<ul class="toppage-footer-bottom__navlist">
				<li class="toppage-footer-bottom__nav">
					<%= link_to '会社概要', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to '採用情報', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'プレスリリース', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to '公式ブログ', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'ロゴ利用ガイドライン', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<a class="toppage-footer-bottom__iconbox">
					<p class="toppage-footer-bottom__lefticon">
						<i class="fab fa-twitter toppage-footer-bottom__icon"></i>
					</p>
				</a>
				<a class="toppage-footer-bottom__iconbox">
					<p class="toppage-footer-bottom__righticon">
						<i class="fab fa-facebook-square toppage-footer-bottom__icon"></i>
					</p>
				</a>
			</ul>
		</div>
		<div class="toppage-footer-bottom__guide">
			<h2 class="toppage-footer-bottom__navtitle">
				ヘルプ&ガイド
			</h2>
			<ul class="toppage-footer-bottom__navlist">
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'win-win!!!!!ガイド', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'win-win便', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to '安心・安全宣言', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
			</ul>
		</div>
		<div class="toppage-footer-bottom__privacy">
			<h2 class="toppage-footer-bottom__navtitle">プライバシーと利用規約</h2>
			<div class="toppage-footer-bottom__termsleft">
				<ul class="toppage-footer-bottom__navlist">
					<li class="toppage-footer-bottom__nav">
						<%= link_to 'プライバシーポリシー', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom nav">
						<%= link_to '利用規約', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom nav">
						<%= link_to '安心スマホサポート制度に関する利用規約', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom nav">
						<%= link_to 'コンプライアンスポリシー', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
				</ul>
			</div>
			<div class="toppage-footer-bottom__termsright">
				<ul class="toppage-footer-bottom__navlist">
					<li class="toppage-footer-bottom__nav">
						<%= link_to '個人データの安全管理に関する基本方針', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '特定商取引に関する表記', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '賃金決済法に基づく表記', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '法令遵守と犯罪防止のために', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
				</ul>
			</div>
		</div>
		<div class="toppage-footer-bottom__country">
			<h2 class="toppage-footer-bottom__navtitle">
				国
			</h2>
			<ul class="toppage-footer-bottom__navlist">
				<li class="toppage-footer-bottom__nav">
					<%= link_to '', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'United_States', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
			</ul>
		</div>
		<div class="toppage-footer-bottom__license">
			<a class="toppage-footer-bottom__mercarilogo" href="/">
				<%= image_tag 'mercari-logo-white.svg', alt: 'Win-Win!!!!!', class: 'toppage-footer-bottom__logo' %>
				<span class="toppage-footer-bottom__information">"©️ 2020 Win-Win!!!!!"</span>
			</a>
		</div>
	</nav>
</footer>