<aside class="toppage-footer-top">
	<div class="toppage-footer-top__box">
		<div class="toppage-footer-top__downloadlink">
			<div class="toppage-footer-top__label">
				スキルを生かしてハッピーに
				<div class="toppage-footer-top__text">
					いますぐユーザー登録を
					<div class="toppage-footer-top__linkicon">
						<%= image_tag 'winwin.png', class: 'toppage-footer-top__mercariicon', size: '300x300' %>
						<%= link_to '', id: 'toppage-appleicon' do %>
							<%= image_tag 'app-store.svg', class: 'toppage-footer-top__appstoreicon' %>
						<% end %>
						<%= link_to '', id: 'toppage-googleicon' do %>
							<%= image_tag 'google-play.svg', class: 'toppage-footer-top__googleicon' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
<footer class="toppage-footer-bottom">
	<nav class="toppage-footer-bottom__navmain">
		<div class="toppage-footer-bottom__summary">
			<h2 class="toppage-footer-bottom__navtitle">
				win-win!!!!について
			</h2>
			<ul class="toppage-footer-bottom__navlist">
				<li class="toppage-footer-bottom__nav">
					<%= link_to '会社概要', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to '採用情報', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'プレスリリース', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to '公式ブログ', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'ロゴ利用ガイドライン', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<a class="toppage-footer-bottom__iconbox">
					<p class="toppage-footer-bottom__lefticon">
						<i class="fab fa-twitter toppage-footer-bottom__icon"></i>
					</p>
				</a>
				<a class="toppage-footer-bottom__iconbox">
					<p class="toppage-footer-bottom__righticon">
						<i class="fab fa-facebook-square toppage-footer-bottom__icon"></i>
					</p>
				</a>
			</ul>
		</div>
		<div class="toppage-footer-bottom__guide">
			<h2 class="toppage-footer-bottom__navtitle">
				ヘルプ&ガイド
			</h2>
			<ul class="toppage-footer-bottom__navlist">
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'win-win!!!!!ガイド', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'win-win便', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to '安心・安全宣言', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
			</ul>
		</div>
		<div class="toppage-footer-bottom__privacy">
			<h2 class="toppage-footer-bottom__navtitle">
				プライバシーと利用規約
			</h2>
			<div class="toppage-footer-bottom__termsleft">
				<ul class="toppage-footer-bottom__navlist">
					<li class="toppage-footer-bottom__nav">
						<%= link_to 'プライバシーポリシー', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '利用規約', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '安心スマホサポート制度に関する利用規約', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to 'コンプライアンスポリシー', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
				</ul>
			</div>
			<div class="toppage-footer-bottom__termsright">
				<ul class="toppage-footer-bottom__navlist">
					<li class="toppage-footer-bottom__nav">
						<%= link_to '個人データの安全管理に関する基本方針', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '特定商取引に関する表記', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '賃金決済法に基づく表記', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
					<li class="toppage-footer-bottom__nav">
						<%= link_to '法令遵守と犯罪防止のために', "#", class: 'toppage-footer-bottom__navurl' %>
					</li>
				</ul>
			</div>
		</div>
		<div class="toppage-footer-bottom__country">
			<h2 class="toppage-footer-bottom__navtitle">
				国
			</h2>
			<ul class="toppage-footer-bottom__navlist">
				<li class="toppage-footer-bottom__nav">
					<%= link_to '', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<li class="toppage-footer-bottom__nav">
					<%= link_to 'United_States', "#", class: 'toppage-footer-bottom__navurl' %>
				</li>
				<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
					<defs>
						<style>
							.cls-1 {
								fill: #ff7c01;
							}
				
							.cls-2 {
								fill: #fff;
								fill-rule: evenodd;
							}
						</style>
					</defs>
					<rect id="rect_1" data-name="rect" class="cls-1" width="48" height="48" rx="7" ry="7" />
					<path id="shape_1" data-name="shape1" class="cls-2"
						d="M40.953,41H34.367A26.88,26.88,0,0,0,26.917,22.2C18.684,13.264,7,13.734,7,13.734V7s15.761-.313,25.485,11.049S40.953,41,40.953,41ZM24.094,25.958C30.211,33.637,29.5,40.924,29.5,40.924H22.918s-0.078-7.209-4.783-11.519A18.193,18.193,0,0,0,7,25.1V18.357S17.978,18.279,24.094,25.958ZM11.783,31.835A4.466,4.466,0,1,1,7.314,36.3,4.468,4.468,0,0,1,11.783,31.835Z" />
				</svg>
			</ul>
		</div>
		<div class="toppage-footer-bottom__license">
			<a class="toppage-footer-bottom__mercarilogo" href="/">
				<!-- <%= image_tag 'mercari-logo-white.svg', alt: 'Win-Win!!!!!', class: 'toppage-footer-bottom__logo' %> -->
				<span class="toppage-footer-bottom__information">"©️ 2020 Win-Win!!!!!"</span>
			</a>
		</div>
	</nav>
</footer>