<div class="mypage-main-container">
	<%= render 'sell/header' %>
	<% breadcrumb :mypage %>
	<%= render 'mypage/bread-crumbs' %>
	<main class="mypage-container clearfix">
		<%= render 'mypage/content' %>
		<%= render 'mypage/side-bar' %>
	</main>
	<%= render 'sell/footer' %>
	<%= render 'sell/sellbutton' %>
</div>